/*
    Document   : main.css
    Created on : 14-02-2011, 10:00:32
    Author     : somoud saqfelhait
    Description:contains all general attributes
*/
.small {
	font-size: smaller;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearboth {
	clear: both;
}

form fieldset {
	padding: 1em;
	background: #c80000;
}

form fieldset,form legend {
	padding: 6px 12px;
	font-weight: bold;
	font-size: 1.09em;
	color: #fff;
}

form input,form textarea {
	font-size: 1em;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

form input.submit_button {
	color: #ffffff;
	float: right;
	font-weight: bolder;
	border: none;
	font-size: 1em;
	padding: 0;
	background: #397639;
}

form input.submit_button:hover {
	background: #365936;
}

label {
	width: 3.5em;
	float: left;
	text-align: right;
	font-weight: bold;
	margin: 0.5em;
	display: block;
}

.register label {
	width: 15em;
}

.upload label {
	width: 12em;
}

.login label {
	width: 8em;
}

.logout strong {
	width: 8em;
	font-weight: bold;
}

.logout a {
	font-weight: bold;
	width: 6em;
	padding: 3px;
	background: #397639;
}

.logout a:hover {
	background: #73BC73;
}
.change label{
	width:11em;
	}
.change option{
	width:11em;
	}
.submit input {
	margin-left: 4.5em;
}

a.button {
	padding: 1em;
	background: #c80000;
	font-weight: bold;
	color: #fff;
}

a.button:hover {
	background: #397639;
}

form strong {
	font-wieght: bold;
	font-size: 1.1em;
	color: #73BC73;
}

.head {
	margin-left: 10%;
	width: 35%;
	padding: 10px;
	background: #73BC73;
	border: solid #397639;
	border-top:1px;
	border-bottom:1px;
	border-left:2px;
	border-right:2px;
}
.head:hover{
	color:#ffffff;
	}
.panel {
	width: 35%;
	margin-left: 10%;
	
	padding: 10px;
	border: solid #397639;
	border-top:1px;
	border-bottom:1px;
	border-left:2px;
	border-right:2px;
}
.panel li{
	margin-left:40px;
	background:c80000;
}
.panel li a{
	color:#397639;
	font-weight:bold;
	
}
.panel li a:hover{
	color:#ffffff;
	background:#c789099;
	
}
.abutton{
	width:7em;
	height:1.9em;
	font-align:center;
	font-weight:bolder;
	
}
.aradio{
	font-weight:bold;
}
.aradio#first{
margin-left:8em;
}