<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileControlServlet</display-name>
    <servlet-name>FileControlServlet</servlet-name>
    <servlet-class>fileShare.FileControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileControlServlet</servlet-name>
    <url-pattern>/FileControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControlServlet</display-name>
    <servlet-name>UserControlServlet</servlet-name>
    <servlet-class>fileShare.UserControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlServlet</servlet-name>
    <url-pattern>/UserControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterControlServlet</display-name>
    <servlet-name>RegisterControlServlet</servlet-name>
    <servlet-class>fileShare.RegisterControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterControlServlet</servlet-name>
    <url-pattern>/RegisterControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControlServlet</display-name>
    <servlet-name>LoginControlServlet</servlet-name>
    <servlet-class>fileShare.LoginControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlServlet</servlet-name>
    <url-pattern>/LoginControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessControlServlet</display-name>
    <servlet-name>AccessControlServlet</servlet-name>
    <servlet-class>fileShare.AccessControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessControlServlet</servlet-name>
    <url-pattern>/AccessControlServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AccessFilter</display-name>
    <filter-name>AccessFilter</filter-name>
    <filter-class>fileShare.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuthorisationFilter</display-name>
    <filter-name>AuthorisationFilter</filter-name>
    <filter-class>fileShare.AuthorisationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorisationFilter</filter-name>
    <url-pattern>/files.jsp</url-pattern>
    <url-pattern>/upload.jsp</url-pattern>
    <url-pattern>/controlPanel.jsp</url-pattern>
    <url-pattern>/viewstats.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControlServlet</display-name>
    <servlet-name>SearchControlServlet</servlet-name>
    <servlet-class>fileShare.SearchControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControlServlet</servlet-name>
    <url-pattern>/SearchControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeControlServlet</display-name>
    <servlet-name>ChangeControlServlet</servlet-name>
    <servlet-class>fileShare.ChangeControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeControlServlet</servlet-name>
    <url-pattern>/ChangeControlServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>fileShare.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/controlPanel.jsp</url-pattern>
    <url-pattern>/viewstats.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StatsControlServlet</display-name>
    <servlet-name>StatsControlServlet</servlet-name>
    <servlet-class>fileShare.StatsControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsControlServlet</servlet-name>
    <url-pattern>/StatsControlServlet</url-pattern>
  </servlet-mapping>
</web-app>